//== Variables
$faded-purple: rgba(139, 45, 183, .75);
$faded-white: rgba(255, 255, 255, .5);
$whitey-white: #fff;
$grey: #ddd;
$very-black: #000;
$faded-black: rgba(0, 0, 0, .5);
$brilliant-blue: #2444e7;
